{% extends "base.html" %}

{% block page_title %}
| Equitment
{% endblock page_title %}

{% block content %}
<style>
        .center {
                text-align: center;
                margin-left: auto;
                margin-right: auto;

        }

        .name {
                grid-area: title;
        }

        .item-container {
                grid-area: item;
                display: grid;
                grid-template-areas:
                        'auto auto';
                grid-gap: 10px;

        }


        .grid-container {
                display: grid;
                grid-template-areas:
                        'title item item';
                grid-gap: 10px;
                padding: 10px;
                background-color: #f8f9fa;
                width: 1000px;



        }

        .grid-container>div {
                border-top: 3px solid #2196F3;
                border-width: thin;
                text-align: center;
                padding: 20px 0;
                font-size: 30px;
        }

        /*  .grid-container:nth-child(even) {
                background-color: rebeccapurple;
        } */
</style>

<div style="  border-radius:10px; ">
        <p class="center" style="font-weight: bold;  width:max-content;font-size: xx-large; ">
                Equitment</p>
        {% for equiptment in equiptments %}
        <div class="grid-container center">
                <div class="title " style="font-size: large; font-weight: bold;">{{equiptment.name}}</div>
                <div class="item-container">
                        {% for photo in equiptment.photos.all %}
                        <div class="item-box" style="margin: 10px;">
                                <img src="{{photo.file.url}}"
                                        style="height: 100px; width: auto;margin-bottom: 10px;"></img>
                                <p style="font-size: medium;">{{photo.caption}}</p>
                        </div>
                        {% endfor%}
                </div>
        </div>
        {% endfor%}








</div>

<!-- {% for equiptment in equiptments %}
<h1>{{equiptment.name}}<h1>

                {% endfor%}
                {% for photo in photos%}

                <span>{{photo.caption}}</span>
                <img src="{{photo.file.url}}" style="height: auto; width: auto;">

                {% endfor%} -->
{% endblock  %}