{% extends "base.html" %}

{% block page_title %}
| People
{% endblock page_title %}

{% block content %}

<style>
    .center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;

    }

    .photo {
        grid-area: photo;


    }

    .description {
        grid-area: description;
    }

    .grid-container {
        display: grid;
        grid-template-areas:
            'photo description description';
        /* grid-template-rows: auto 2fr; */
        grid-gap: 5px;
        padding: 10px;
        margin: 10px;
        overflow: visible;


    }

    .grid-container>div {
        border-top: 3px solid #2196F3;
        border-width: thin;

        padding: 20px 0;


    }

    .grid-container:nth-child(odd) {
        background-color: #f8f9fa;
    }




    .selector img {

        width: 100%;
        height: 100%;
    }
</style>

<div class="center" style="width:1000px">
    <div class="title " style="font-size: large; font-weight: bold;text-align: left;">교수님</div>
    {% for member in members %}
    <div class="grid-container ">
        <div class="selector" style="width:250px; height:300px">
            <img class="photo" src="{{member.avatar.url}}" alt="">
        </div>

        <div class=" description">
            <h1 style="text-align:left;font-size: x-large;">{{member.name}}</h1>
            <div style="text-align: center; font-size: medium;">{{member.description}}</div>
        </div>
    </div>
    {% endfor%}
</div>
</div>



{% endblock  %}