{% extends "base.html" %}

{% block page_title %}
| Research
{% endblock page_title %}

{% block content %}

{% for research in researches %}
<style>
    .center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;

    }
</style>
<div class="center" style="background-color :#f8f9fa; width: 1000px;">
    <p style="font-size: x-large;">{{research.name}}</p>

    {% for photo in research.photos.all %}
    <img src="{{photo.file.url}}" style="height: auto; width: auto; ">
    <p> {{photo.caption}}</p>
    <p>{{photo.description}}</p>
    {% endfor %}

</div>
{% endfor%}


{% endblock  %}